#######################################################################
#                   Hamlet Snippets for UltiSnips                     #
#######################################################################

snippet body "namespace"
<body>${1}
endsnippet
